/*
	Estilo básico del RMF

	autor: Robert Sallent
	última revisión: 06/11/2016
*/

#borrar{
	background-color: grey;
color:white;
	border-style: hidden;
	border-radius:  10px;
}

/* ------------------------------------------------------------------------------------
RESET DE ESTILO Y REGLAS GENERALES 
------------------------------------------------------------------------------------ */
*{
	margin: 0px;
	padding: 0px;
}

.izquierda{
	float: left;
}

.derecha{
	float: right;
}

.clear{
	clear: both;
}
.mini{
	font-size: 0.8em;
}
.maxi{
	font-size: 1.2em;
}

h1, h2, h3{
	margin: 10px 0px 10px 0px;
}

p{
	margin-bottom: 10px;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

img.logo{
	height: 30px;
	width: 30px;
	vertical-align: middle;
}
.imagen{
	height: 50px;
	width: 50px;
	
}

.bottonform{
	border-radius:2px;
	border:none;
	padding:2px;
	color:white;
	background-color:navy;
}
.bottonform:hover{
	color:navy;
	background-color:white;
	cursor:pointer;
}
/* ------------------------------------------------------------------------------------
INICIO DE LOS ESTILOS PARA CADA UNO DE LOS ELEMENTOS 
------------------------------------------------------------------------------------ */

html{
	background-color: #eef;
}

body{
	background-color: #fff;
	font-family: arial, verdana;
	width: 80%;
	padding: 2%;
	margin: 10px auto 10px auto;
	box-shadow: 0px 0px 8px rgba(60,60,60,0.6);	
}

.caratula{
	border:solid 2px grey;
	height:250px;
	width:150px;
  margin-top:60px;
}

.caratulaportada{
	
	height:150px;
	width:250px;
	margin-top:10px;
}
#imagenjuego{
	 margin-right:40px;
	 
}

#imagenportada{
	margin-right: 40px;
}
/* HEADER */
header{
	padding: 20px;
	background-image:url('../images/fondo/fondo.jpg');
	color: blanchedalmond;
	text-shadow: 1px 1px 3px #99a;
}

header{
	display: flex;
}

header h1{
	font-size: 3em;	
}

header figure{
	flex: 1;
}

header figure img{
	width: 80%;
}

header hgroup{
	flex: 5;
}


/* ZONAS DE LOGIN Y LOGOUT */
#login, #logout{
	text-align: right;
	padding: 5px 0px 5px 0px;
}

#login input{
	width: 80px;
}

#logout img{
	display: inline-block;	
	vertical-align: middle;
	width: 30px;
	height: 30px;
}

#logout form{
	display: inline-block;
}

#login a, #logout a{
	color: #aaf;	
	font-weight: bold;
}

.botologin{
	border-bottom-style: hidden;
	border-radius: 6px;
	border:0px;
}

/* BARRA DE NAVEGACION */
nav{
	background-color:#aaf;
	color: white;
	display: flex;
	border: solid 1px;
	border-radius: 4px;
}

nav ul{
	flex: 1;
}

nav ul:first-of-type{
	text-align: left;
}

nav ul:nth-of-type(2){
	text-align: right;
}

nav ul.menu>li{
	display: inline-block;
	list-style-type: none;
	padding: 8px;	
	transition: 0.5s;
}
nav ul.menu>li:hover{
	color: #aaf;
	background-color: white;	
}

/* AREA PARA EL CONTENIDO */
#content{
	padding: 20px 0px 20px 0px;
}

#content p{
	text-align: justify;
}

#content table{
	margin: auto;
	width: 90%;
}

#content table th{
	color: white;
	background-color: cadetblue;
	text-align: center;
	font-weight: bold;
}
#content table td, #content table th{
	padding: 10px;
}
#content table tr:nth-of-type(even){
	background-color: #eef;
}
#content table .boton{
	width: 30px;
	height:30px;
	display:block;
	margin:auto;
	}
#content form input{
	margin-top: 5px;
	padding: 4px;
}
#content form label{
	display: inline-block;
	min-width: 140px;
}

#content form img.imagenactual{
	width: 100px;
	height: 110px;
	margin: 10px;
	float: right;
}

#content p.volver{
	cursor:pointer;
	text-align: center;
	margin: 20px;
	color: brown;
	font-weight: bold;
	width: 100%;
}

#content .contenedor{
	display: flex;
}

#content .contenedor .texto{
	flex: 3;
	border-radius: 5px;
	background-color: white;
	padding: 3%;
	margin: 10px 3% 10px 0%;
	box-shadow: 0px 0px 4px grey;
}

#content .contenedor .imagen{
	flex: 2;
	text-align: center;
}
#content p.infolista{
	color: brown;
	font-style: italic;
	margin: 10px 0px 10px 0px;
}

/* FOOTER */
footer{
	padding: 20px;
	background-color: aliceblue;
	background-radius:3px;
	background-image: url('../images/logos/wide.png');
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: right top;
}

footer a:hover{
	color: blue;
}
